.container {
  padding: 0 2rem;
}

.topActions {
  display: flex;
  justify-content: space-between;
}

.difficultyButton {
  margin: 10px 10px 30px 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.autoPlayButton {
  margin: 0 10px;
  background-color: blue;
}

.active {
  background-color: red;
  color: white;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.rowLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dee1e9;
  font-size: 28px;
  font-weight: 700;
  height: 56px;
  margin: 3px;
  text-transform: uppercase;
  width: 56px;
  border-radius: 5px;
  color: #393e4c;
  background: #fbfcff;
}

.letter-absent {
  background-color: #a4aec4!important;
  border: 2px solid transparent!important;
  color: #fff!important;
}

.letter-present {
  background-color: #f3c237!important;
  border: 2px solid #f3c237!important;
  color: #fff!important;
}

.letter-correct {
  background-color: rgb(121, 184, 81)!important;
  border: 2px solid #79b851!important;
  color: #fff!important;
}

.gameKeyboard {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headline {
  margin-top: 30px;
}

.headlineTitle {
  color: #13141c;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 5px;
}

.headlineText {
  color: #2b2e3a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 8px;
}

@media (prefers-color-scheme: dark) {
  .itemDescription {
    color: white;
  }

  .headlineTitle {
    color: #435488;
  }
  
  .headlineText {
    color: #fff;
  }
}

